body {
    font-family: Arial, sans-serif;
}

#main-header {
    background-color: #2d2d2d;
    color: #f3f3f3;
    display: flex;
}

#main-header h1 {
    color: white;
    font-size: 108pt;
}

h1 {
    font-family: Arial, sans-serif;
}

#main {

}