body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: #2d2d2d;
}

#full-header {
    display: flex;
    align-items: flex-start;
}

#main-header {
    color: #f3f3f3;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: #2d2d2d;
}

#main-header h1 {
    color:      white;
    font-size:  40pt;
    margin-top:     .6em;
    margin-bottom:  .4em;
}


#sidebar {
}

#main {
    display: flex;
    flex: 1;
    align-items: stretch;
}

h1 {
    display: inline-block;
    font-family: Arial, sans-serif;
}

h2, h3 {
    color: #cc0000;
    margin-bottom: 0;
}

.accent-line {
    background-color: #cc0000;
    min-height: 7px;
    min-width: 7px;
    align-self: stretch;
}

.sidebar {
    align-self: stretch;
    width: 50px;
    background-color: #2d2d2d;
}

#main-header .horizontal-flex {
    align-self: stretch;
}

.horizontal-flex {
    display: flex;
    justify-content: flex-start;
}

#nav-bar {
    display: flex;
    flex: 1;
    justify-content: center;
}

#nav-bar .sidebar {
    align-self: flex-start;
}

#nav-bar a {
    padding: 0.8em;
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
}

#nav-bar a.selected {
    font-weight: bold;
    cursor: default
}

#nav-bar a:focus:not(.selected) {
    background-color: #606060;
    border: none;
}

#nav-bar a:hover:not(.selected) {
    background-color: #606060;
    /*color: #ffd0d0;*/
    /*font-weight: bold;*/
}

#nav-bar a:active:not(.selected) {
    background-color: #808080;
}

#content {
    flex: 1;
    margin: 16px;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    border-radius: 8px;
    padding: 16px;
}

.portfolio-item h3 {
    margin: 0;
}

.portfolio-item p {
    margin-top: 4px;
    margin-bottom: 8px;
}

.portfolio-item .sources {
    display: flex;
    justify-content: center;
}

.portfolio-item .sources .a.source {
    flex: 1;
    max-width: 20px;
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
}

.portfolio-item .sources a.source:focus {
    background-color: #f0f0f0;
    border: none;
}

.portfolio-item .sources a.source:hover {
    background-color: #eeeeee;
}
